@import "tailwindcss";

@font-face {
  font-family: "Anuphan";
  src: url("./assets/fonts/Anuphan-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Anuphan";
  src: url("./assets/fonts/Anuphan-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Anuphan";
  src: url("./assets/fonts/Anuphan-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Anuphan";
  src: url("./assets/fonts/Anuphan-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Anuphan";
  src: url("./assets/fonts/Anuphan-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Anuphan";
  src: url("./assets/fonts/Anuphan-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Anuphan";
  src: url("./assets/fonts/Anuphan-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "Anuphan", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
